.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-3 {width: 22.59%;}

.text-center{
    text-align: center;
}
.element1{
    width: 200px;
    height: 30px;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    background-color: #3d647f;
    color: white;
    -webkit-transition: background-color 2s, width 3s;
    transition: background-color 2s, width 3s;
}
.transitions1{
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

.transitions2{
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}
.element1:hover{
    width: 500px;
    background-color: black;
}
#corners1{
    border-radius: 25px 50px 25px  50px; 
    background: #0288D1;
    padding: 20px;
    width: 200px;
    height: 80px;
    display: inline-block;
}

#corners2{
    border-radius: 25px; 
    border: 2px solid #03a9f4;
    padding: 20px;
    width: 200px;
    height: 80px;
    display: inline-block;
}

#corners3{
    border-radius: 25px;
    background:  url(../img/figure.jpeg);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 200px;
    height: 80px;
    display: inline-block;
}

.text-center{
    text-align: center;
}